@model Final_Messenger.Models.conversation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>conversation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.times)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.times)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.c_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
